body {
	padding-top: 5rem;
}

.himg {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}
.profilehead {
	color: white;
	background-color: #75b37f;
	display: flexbox;
	justify-content: center;
	text-align: center;
	align-content: center;
	padding: 5px;
	border-radius: 10px 10px 0px 0px;
	width: 75%;
	margin: auto;
	border: 1px solid darkgray;
}

button {
	background-color: #7ed321;
	color: white;
	grid-row: 3;
	border-radius: 10px;
	margin: auto;
	padding: 5px 15px 5px 15px;
}
.profilecontent {
	display: grid;
	grid-template-rows: auto auto auto;
	justify-content: center;
	text-align: center;
	align-content: center;
	padding: 15px;
	grid-gap: 30px;
	border-radius: 0px 0px 10px 10px;
	width: 75%;
	margin: auto;
	border: 1px solid darkgray;
}
#desc {
	grid-row: 1;
	width: 68%;
	margin: auto;
}
.profilecontent p {
	color: darkgray;
}
#stats {
	grid-row: 2;
	display: grid;
	grid-template-columns: auto auto auto;
	width: 65%;
	margin: auto;
}
#posts {
	grid-column: 1;
	grid-row: 1;
}
#following {
	grid-column: 2;
	grid-row: 1;
}
#followers {
	grid-column: 3;
	grid-row: 1;
}
